{% include 'base.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header bg-dark text-light h4">
            Tasks to be done!
        </div>

        <div class="card-body">
            <div class="tableFixHead">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Task No</th>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if todos %}
                        <!-- all the tasks are printed if present-->
                        {% for todo in todos %}
                        <tr class="pointer">
                            <td>
                                <a href="/todos/get-todo/{{todo.id}}">
                                    {{loop.index}}
                                </a>
                            </td>
                            <td>
                                <a href='/todos/get-todo/{{todo.id}}'>
                                    {{todo.title}}
                                    <a>
                            <td>
                                <button onclick="window.location.href='/todos/delete/{{todo.id}}'" type="button"
                                    class="btn btn-danger">Delete</button>
                                <button onclick="window.location.href='edit-todo/{{todo.id}}'" type="button"
                                    class="btn btn-info">
                                    Edit
                                </button>
                            </td>
                        </tr>

                        {% endfor %}
                        {% else %}
                        <!-- if no tasks are present message is printed-->
                        <tr>
                            <td colspan="3">
                                <h3 class="text-center">No tasks to do!</h3>
                            </td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>

            <a href="add-todo" class="btn btn-success">Add more!!!!</a>
        </div>
    </div>
</div>