{% include 'base.html' %}
<!-- page to display the Task details -->
<div class="container">
    <div class="card">
        <div class="card-header text-center h3">
            Let's edit your todo!
        </div>
        <div class="card-body text-center">
            <label class="h3">"Task title"</label>
            <p style="font-size: 20px;">{{todo.title}}</p>
            <label class="h3">"Description"</label>
            <p style="font-size: 20px;">{{todo.description}}</p>
        </div>
    </div>
</div>
</div>